.article-1 {
	background-color: #ffe5e0;
	border-color: #ff6f61;
}

.article-1 h1 {
	color: #d94e1f;
}

.article-2 {
	background-color: #e0e9ff;
	border-color: #6b5b95;
}

.article-2 h1 {
	color: #4a4e69;
}

.article-3 {
	background-color: #e5ffe0;
	border-color: #88b04b;
}

.article-3 h1 {
	color: #558c3a;
}
