* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: aqua;
	padding: 2rem 0;
	font-style: oblique;
	font-size: larger;
	margin-bottom: 3rem;
}
